:root{
    --primary-blue: #667eea;
    --secondary-purple: #764ba2;

    --text-dark: #333;
    --text-medium: #555;
    --text-light: #666;
    
    --bg-white: #ffffff;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Arial', sans-serif ;
    line-height: 1.6;
}

.portfolio-card{
    max-width: 400px;
    margin: 50px auto;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.5);
    border-radius: 15px;
    transition: box-shadow 300ms ease-in-out;
}
.portfolio-card:hover{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.card-content{
    padding: 2rem;
}

.portfolio-header{
    text-align: center;
    margin-bottom: 10px;
    padding: 1rem 0;
    background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.portfolio-header h1{
    font-size: 1.5rem;
}
.header-decoration{
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    border-radius: 20px;
}
.avatar{
    margin: 10px auto;
    text-align: center;
}
.avatar img{
    width: 200px;
    height: 200px;
    border: 3px solid var(--primary-blue);
    border-radius: 50%;
    object-fit: cover;
}

.personal-info{
    text-align: center;
    line-height: 1.6;
}

.name{
    font-size: 1.5rem;
    color: var(--secondary-purple);
}

.role{
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-medium);

}

.location ,.email{
    color: var(--text-medium);
    font-size: 1.1rem;
}



.bio h2{
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 3px solid var(--secondary-purple);
    margin: 5px;
    color: var(--text-dark)

}

.bio-text{
    margin: 10px 0;
    color: var(--text-medium)
}


.skill-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

}
.skill{
    padding: 0.25rem 1rem;
    background-color: var(--primary-blue);
    border-radius: 15px;
    color: white;
    transition: all 300ms ease-in-out;
}
.skill:hover{
    background-color: var(--secondary-purple);
    transform: scale(1.1);
}
